{% extends 'base.html.twig' %}

{% block title %}
    {{snippet.user.username}} - {{snippet.id }}
{% endblock %}

{% block body %}
<article class="article">
  <h1 class="article-title">{{snippet.title}}</h1>
  <p class="article-meta">Creer le: {{ snippet.createdAt|date("d/m/Y")}}</p>
  <br>
  {% if snippet.editedAt %}
    - Modife le: {{ item.modifiedAt|date("d/m/Y")}}    
  {% endif %}
  <p class="text-lead">
    {{snippet.content|raw}}
  </p>
  <p>Redige par {{snippet.user.username}} </p>
  <p>Statut: {% if snippet.isPublic == true %}
    Public
    {% else %}
    Prive
  {% endif %}
  </p>

  <div class="row">
    <button>Read More</button>
    <button>5 Comments</button>
  </div>
</article>
{% endblock %}
