{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="heading">
		<h1>Connectez-vous</h1>
		<p>
			Vous n'avez pas encore de compte ?
			<a href={{ path('app_register') }}>Créez-en un !</a>
		</p>
	</div>
    
	<div class="row flex-center">
		<form method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					Vous êtes connecté en tant que <kbd>{{ app.user.username }}</kbd>,
				</div>
			{% endif %}

			<label for="inputEmail">Votre e-mail</label>
			<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
			<label for="inputPassword">Mot de passe</label>
			<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			<button class="btn btn-lg btn-primary" type="submit">
				Se connecter
			</button>
		</form>
	</div>
{% endblock %}